/* HEADER */
header {
    background-color: transparent;
    padding: 2rem 0;
    border-bottom: none;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px; /* más espacio a los lados */
    gap: 2rem;
}
header.scrolled {
    background-color: rgba(0, 0, 0, 0.6);
    transition: background-color 0.6s ease;
}
body, * {
    font-weight: 800;
    font-family: 'Quicksand', sans-serif;
}

/* LOGO pegado a la izquierda */
.logo {
    flex-shrink: 0;
    margin-right: auto;
}

.logo img {
    max-height: 110px;
    height: auto;
}

/* NAVIGATION totalmente a la derecha */
nav {
    margin-left: auto;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 2.5rem;
}

.nav-list li a {
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    padding: 0.75rem;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.35rem; /* texto más grande */
    transition: color 0.3s ease;
}

.nav-list li a:hover,
.nav-list li a.active {
    color: #ce4242;
}

.menu-toggle {
    display: none;
    background-color: #111;
    color: #fff;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .menu-toggle {
        display: block;
    }

    nav {
        margin-left: 0;
    }

    .nav-list {
        display: none;
        flex-direction: column;
        background-color: #000;
        padding: 1rem;
    }

    .nav-list.active {
        display: flex;
    }

    .nav-list li a {
        font-size: 1.2rem;
        padding: 1rem;
    }
    header.light-bg .nav-list li a,
    header.light-bg .menu-toggle,
    header.light-bg ion-icon {
        color: #000; /* texto oscuro sobre fondo claro */
    }

    header.dark-bg .nav-list li a,
    header.dark-bg .menu-toggle,
    header.dark-bg ion-icon {
        color: #fff; /* texto claro sobre fondo oscuro */
    }
}
