/* RESET BÃSICO */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cinzel', serif; /* Fuente elegante en todo el sitio */
}

body {
    background-color: #000;
    color: #fff;
    line-height: 1.6;
}
html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

body > footer {
    margin-top: auto;
}

/* CONTENEDOR */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
